.keyboardshortcut {
    
}

.keyboardshortcut-message {

}

.input-group-addon {
    clear: both;
    padding: 2px 6px;
}

.keyboardshortcut-infoTextNode {
    padding: 0.8em 1em;
    margin-top: 10px;
}